[Unit]
Description=Poll the Ascend API for notice events every 15 minutes

[Timer]
OnCalendar=*:0/15
AccuracySec=1min
Persistent=true
Unit=robie-ascend-api-notice.service

[Install]
WantedBy=timers.target
