[Unit]
Description=ROBIE Test SSRobie keep-alive every 20 minutes
ConditionHost=hermes-test-01.c.streetsmart-hermes-poc.internal

[Timer]
OnBootSec=5min
OnUnitActiveSec=20min
AccuracySec=1min
Persistent=true
Unit=robie-ezlynx-keepalive-test.service

[Install]
WantedBy=timers.target
