[Unit]
Description=Run ROBIE scheduler every 60 seconds

[Timer]
OnBootSec=60
OnUnitActiveSec=60
Persistent=true
AccuracySec=1s
Unit=robie-scheduler.service

[Install]
WantedBy=timers.target
